{#
/**
 * @file
 * Template to render the export HTML string.
 *
 * Available variables:
 * - tjid: The Job ID.
 * - source_language: The translation source language.
 * - target_language: The translation target language.
 * - items: The data that needs to be translated.
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="JobID" content="{{ tjid }}" />
    <meta name="languageSource" content="{{ source_language }}" />
    <meta name="languageTarget" content="{{ target_language }}" />
    <meta name="sourceUrl" content="{{ source_url }}" />

    <title>Job ID {{ tjid }}</title>
  </head>
  <body>
    {% for item_key, item in items %}
      <div class="asset" id="{{ item_key }}">
        {% for field_key, field in item %}
          <div class="atom" id="{{ field_key }}">{{ field['#text'] | raw }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
